<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Entrar Sala</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" th:href="@{/Bootstrap/bootstrap.css}" />
    <link rel="stylesheet" th:href="@{/css/style.css}" />
    
    <script th:src="@{/JQuery/JQuery.js}"></script>
    <script th:src="@{/SockJs/SockJs.min.js}"></script>
    <script th:src="@{/Stomp/Stomp.min.js}"></script>
</head>

<body>
    <main>
        <section>
            <article class="large-space-top d-flex align-items-center justify-content-center">
                <div>
                    <form th:action="@{/sala/{roomCode}(roomCode=${room.code})}" method="POST">
                        <label for="name">Nome</label> <br>
                        <input type="text" name="user-name" id="name" required placeholder="Ex: Mario" maxlength="45"><br><br>
                        <input class="btn btn-primary" type="submit" value="Entrar">
                        <input type="hidden" name="userId" id="room-code" th:value="${room.code}">
                    </form>
                    <hr>
                    <p>Participantes: <span id="user-count" th:text="${userCount}">0</span></p>
                </div>
            </article>
        </section>
        <script th:src="@{/js/updateUserCount.js}"></script>
    </main>
</body>
</html>